*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--darkMode-background-color);
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    line-height: 1.6;
}

a{
    text-decoration: none;
}

header{
    padding: 30px 40px;
}

#logo img{
    width: 200px;
}

header h1{
    font-family: 'Poppins';
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
}

header p{
    font-family: 'Jost' ;
    width: 800px;
    margin: 30 auto;
    font-size: large;
}

.container{
    margin: 0 12rem;
}

.search-container input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: large;
    font-family: 'poppins';
}

.search-container {
    position: relative;
   
}

.search-container img{
    width: 30px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.search-container input:focus{
    outline: none;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.card-container{
    padding: 25px 30px;
}

.card{
    background: #fff;
    color: #333;
    border-radius: 10px 10px 0 0;
    width: 745px;
    height: 200px;
}

.title{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.func-name{
    color: #DE0000;
    font-family: 'Fira code';
}

.func-diff{
    font-family: 'Jost';
}

.easy{
    color: #5CC34B;
}

.medium{
    color: #FFC700;
}
.func-description{
    margin-top: 30px;
    width: 600px;
    font-weight: 700;
}

.tags{
   margin-top: 20px;
   display: flex;
   padding-bottom: 20px;
}

.tags h6{
    margin-right: 20px;
    background: #5CC34B;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 13px;
    font-family: 'jost';
}

.solve-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
   width: 100%;
   margin-bottom: 30px;
   background: #fff;
   border-top: 1px solid #a5a5a5 ;
   border-radius: 0 0 10px 10px;
}

.btn{
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    border: none;
    background: #fafafa;
    font-family: 'Jost';
    font-size: 20px;
    cursor: pointer;
}

.btn:hover{
    background: #FFC700;
    color: #222;
    font-size: 23px;
    font-weight: 500;
}

.btn a{
    color: #222;
}
