@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Jost:ital@0;1&family=Poppins&display=swap');

:root{
    --darkMode-background-color: #262733 ;
    --lightMode-background-color: #fff ;
    --text-primary: #FFC700;
}

.text-primary{
    color: var(--text-primary);
}